# Ne jamais versionner vendor
/vendor/

# Ne jamais exposer les données sensibles
.env

# Composer lock optionnel
composer.lock

# VSCode
.vscode/

# Windows
Thumbs.db

# Config sensibles
back/config/db.php
back/config/config.php
.env
